:root {
    --white: #ffffff;
    --black: #000000;
    --grey: #f4f4f4;
    --primary: #e76000;
    --container-mw: 1500px;
    --main-bc: var(--white);
    --header-height: 105px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    background-color: var(--main-bc);
    font-family: fontRegular, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    font-size: 1em;
}