:root {
    --white: #ffffff;
    --black: #000000;
    --grey: #f4f4f4;
    --primary: #da1a26;
    --container-mw: 1300px;
    --main-bc: var(--white);
    --header-height: 105px;
    --btn-padding: 10px 20px;
    --btn-border-radius: 5px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 100%;
    background-color: var(--main-bc);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5em;
}

h3 {

}

p {
    line-height: 2;
    font-size: 1em;
}

button {
    font-family: 'Padauk', sans-serif;
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

h1, h2, h3, h4 {
    margin: 0;
}
